X_Agent.json
{
  "name": "X_Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "You are an automation agent connected to X (formerly Twitter) and an infographic generator.\n\nScrape the latest trending topics related to Artificial Intelligence from X. Only include trends from the last 24 hours and ensure they are relevant to AI (machine learning, deep learning, generative AI, AI tools, AI ethics, etc.).\n\nFor each trending topic, summarize it in one short headline and 2–3 bullet points explaining its significance.\n\nConvert these summaries into an infographic-ready JSON format with:\n\ntitle: The AI trend headline\n\nsummary: 2–3 key points\n\nvisual_suggestion: A short creative suggestion for icons, colors, or layout for the infographic\n\nOutput must be concise, factually accurate, and ready for infographic rendering.\n\nIf no relevant AI trends are found, respond with \"No current AI trends found\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        0,
        -32
      ],
      "id": "e909ecad-3262-452b-b603-71e44b3d7b84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        176
      ],
      "id": "a6fcfa78-0b49-479e-ae38-18def8629a55",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CZ32GrZZ4s21YFWZ",
          "name": "Udhaya API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "global_memory",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        176
      ],
      "id": "b4ecb624-d544-4d3b-80eb-24db9380573b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"Read tweet message here\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        704,
        400
      ],
      "id": "18814ec1-c328-4231-ab91-86fcbbfef6d7",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "399cmkWn3ifVtEYL",
          "name": "Bearer Auth account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Create a high-quality infographic about {topic}, with clear, readable text labels and headings, modern flat design style, vector graphics, and an organized layout. Use {color scheme} color scheme, include icons, charts, and minimal illustrations. Ensure all text is spelled correctly and fully legible. for the given below output\n{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        368,
        -32
      ],
      "id": "33ea9c07-6953-418b-8b71-06b5bd84f202",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "CZ32GrZZ4s21YFWZ",
          "name": "Udhaya API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "First Agent",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "N8N_CORS_ALLOW_ORIGIN=https://n8n.srv931000.hstgr.cloud/webhook-test/First Agent"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        -32
      ],
      "id": "91270f58-3b82-405e-b74b-f2c92d479c97",
      "name": "Webhook",
      "webhookId": "eda0b3be-c8c6-430f-b3d6-657e3ea36f79"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        -32
      ],
      "id": "6533b1fc-58f3-4cf6-bbd8-b629ff657837",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        240
      ],
      "id": "19094d20-8efd-4481-a4e3-970e8ece2006",
      "name": "When chat message received",
      "webhookId": "e2819671-68b9-42c4-898d-f8e7eb53e2e7",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Term', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        176,
        176
      ],
      "id": "3583cb0d-452a-4ecc-b4d2-5e393527fbdd",
      "name": "Search Tweets in X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "PKOj99hHTvM0TOBl",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "query": " Search for AI tweaks"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Search Tweets in X": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1cfae65-c375-40fc-9047-9bec1755db0e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1d3e0d12d68225d79d5e3accb75641b9894b530c76550be94c3f04d1958984a"
  },
  "id": "zCpY8aLpONq0OnUc",
  "tags": []
}